version: "3.3"
services:
  db:
    image: postgres:12
    volumes:
      - db:/var/lib/postgresql/data/pgdata
    env_file:
      - ./api/.env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432

  api:
    depends_on:
      - db
    env_file:
      - ./api/.env
    build:
      context: .
      dockerfile: Dockerfile
      args:
        INSTALL_DEV: ${INSTALL_DEV-false}
    ports:
      - 8080:8080
    volumes:
      - ./api:/app
      - ./web/build:/app/build
      - ./media:/media

  migrations:
    depends_on:
      - db
    env_file:
      - ./api/.env
    build:
      context: .
      dockerfile: Dockerfile
      args:
        INSTALL_DEV: ${INSTALL_DEV-false}
    command: alembic upgrade head
    volumes:
      - ./api:/app
      - ./media:/media

  web:
    depends_on:
      - api
    env_file:
      - ./web/.env
    environment:
      CHOKIDAR_USEPOLLING: 1
    build:
      context: .
      dockerfile: Dockerfile
      target: web_build
    command: npm start
    ports:
      - 3000:3000
    volumes:
      - ./web:/app

volumes:
  db:
