version: "3.3"
services:
  db:
    image: postgres:12
    volumes:
      - db:/var/lib/postgresql/data/pgdata
    env_file:
      - ./api/.env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432

  api:
    depends_on:
      - db
    env_file:
      - ./api/.env
    build:
      context: .
      dockerfile: Dockerfile
      args:
        INSTALL_DEV: ${INSTALL_DEV-false}
    ports:
      - 8080:8080

  migrations:
    depends_on:
      - db
    env_file:
      - ./api/.env
    build:
      context: .
      dockerfile: Dockerfile
      args:
        INSTALL_DEV: ${INSTALL_DEV-false}
    command: alembic upgrade head

  tasks:
    depends_on:
      - db
    env_file:
      - ./api/.env
    build:
      context: .
      dockerfile: Dockerfile
      args:
        INSTALL_DEV: ${INSTALL_DEV-false}
    command: procrastinate --app=memezer.app.queue worker

volumes:
  db:
