version: "3.3"
services:
  api:
    volumes:
      - ./api:/app
      - ./web/build:/app/build
      - ./media:/media
      - ./docker_entrypoint.sh:/docker_entrypoint.sh

  migrations:
    volumes:
      - ./api:/app
      - ./media:/media
      - ./docker_entrypoint.sh:/docker_entrypoint.sh

  tasks:
    volumes:
      - ./api:/app
      - ./media:/media
      - ./docker_entrypoint.sh:/docker_entrypoint.sh

  web:
    depends_on:
      - api
    env_file:
      - ./web/.env
    environment:
      CHOKIDAR_USEPOLLING: 1
      SKIP_PREFLIGHT_CHECK: "true"
    build:
      context: .
      dockerfile: Dockerfile
      target: web_build
    command: npm start
    ports:
      - 3000:3000
    volumes:
      - ./web:/app
