# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: API

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

defaults:
  run:
    working-directory: "./api"

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: memezer
          POSTGRES_DB: memezertest
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -r requirements.dev.txt
      - name: Lint & test
        run: |
          mkdir -p $MEDIA_PATH
          flake8 .
          mypy .
          pytest
        env:
          POSTGRES_SERVER: localhost
          POSTGRES_USER: memezer
          POSTGRES_DB: memezertest
          POSTGRES_PASSWORD: password
          JWT_SECRET_KEY: b8cae3ab4b7e6773ecb3f6848cfd816d161b86880cae978bb80d33f34bfdca18
          MEDIA_PATH: /tmp/media
